.footer {
  margin-top: 50px;
  background-color: rgba(52,58,64,1);
  height: 246px;
  position: relative;
}

.footerBody {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  color: white;
}
.footerText {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText p {
  color: white;
}
